@model SocialCare.DATA.Models.Pessoas

@{
    ViewData["Title"] = "Detalhes da Pessoa";
}

<h1>Detalhes da Pessoa</h1>

<div>
    <h4>Informações Pessoais</h4>
    <hr />
    <div>
        <a asp-action="Edit" class="btn btn-success" asp-route-id="@Model.Id">Alterar</a>
        <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
    <br />
    <dl class="row">
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Nome)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Nome)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Cidade)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Cidade)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Bairro)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Bairro)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Endereco)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Endereco)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Numero)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Numero)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Email)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Email)" />
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Telefone)</label>
            <input disabled class="form-control" value=" @Html.DisplayFor(model => model.Telefone)" />
        </div>

        @if (Model.Tipo == "F")
        {
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.PessoasFisicas.Cpf)</label>
                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.PessoasFisicas.Cpf)" />
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.PessoasFisicas.DataNascimento)</label>
                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.PessoasFisicas.DataNascimento)" />
            </div>
        }
        else if (Model.Tipo == "J")
        {
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.PessoasJuridicas.Cnpj)</label>
                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.PessoasJuridicas.Cnpj)" />
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.PessoasJuridicas.RazaoSocial)</label>
                <input disabled class="form-control" value=" @Html.DisplayFor(model => model.PessoasJuridicas.RazaoSocial)" />
            </div>
        }
    </dl>
</div>